html,
body {
    margin: 0px;
    height: 100vh;
    min-width: 1080px;
}

#top-nav-bar{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.searchinput {
    width: 300px;
    height: 33px;
    background-color: white;
    color: #272727;
    border: none;
    outline: none;
    padding: 1px 10px;
    margin: 0px;
    font-size: 16px;
    float: left;
}

.searchinput:focus {
    outline: 2px solid #0080c0;
}

::placeholder {
    color: #5c5c5c;
}

.mainbuttons {
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto";
    cursor: pointer;
}

.mainbuttons:hover {
    background-color: #0080ff;
}

#searchbutton {
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-family: "Roboto";
    cursor: pointer;
    height: 37px;
    float: left;
}

#searchbutton:hover {
    background-color: #0080ff;
}

#head {
    background-color: #d8e6f5;
    height: 45px;
    padding: 1em 3em 3em 3em;
}

.logo {
    float: left;
    width: 10em;
}

.textlogo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 35pt;
    color: #0080c0;
    text-shadow: 2px 2px 20px white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    width: 700px;
}

.mainsearch {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.mainsearch input.searchinput {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.mainsearch select.categories {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.headright {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 6em;
    width: 10em;
    margin-top: -0.5em;
}

.dropbox {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 -1.5em;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: "Roboto";
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#usersname {
    margin-bottom: .5em;
    font-family: 'Roboto';
    font-size: 12pt;
    cursor: pointer;
}

#location {
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
}

.userinputzip{
    font-family: 'Roboto';
    font-size: 12pt;
    text-align: center;
    padding: 2px 5px;
    width: 50px;
}

.categories {
    width: auto;
    height: 37px;
    padding: 2px 5px;
    outline: none;
    font-size: 16px;
    background-color: #ffffff;
    float: left;
}

.categories:active:hover {
    outline: none;
}

div.tab {
    overflow: hidden;
    background-color: #d8e6f5;
    padding-left: 3em;
}

div.tab button.sectionl {
    background-color: #fafafa;
    float: left;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.1s;
    font-size: 12pt;
}

div.tab button.sectionl:hover {
    background-color: white;
}

div.tab button.sectionl.active {
    background-color: white;
    border-bottom: 1px solid white;
}

#newpostbutton {
    float: right;
    margin-right: 4em;
}

#logoutbutton {
    float: right;
    margin-right: 2em;
}

.boardcontent {
    display: none;
    float: left;
    padding: 1em 3.3em 1em 3.1em;
}

.cpbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.cp-content {
    background-color: white;
    font-size: 12pt;
    font-family: "Roboto";
    margin: 2em auto;
    padding: 0.5em 1.5em 2em 1.5em;
    border: 1px solid #888;
    width: 26em;
    border-radius: 25px;
    transition: 0.5s;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#createposttypepicker {
    margin-bottom: 20px;
    text-align: center;
    transition: 0.5s;
}

.pickerbutton {
    background-color: #fafafa;
    border: 1px solid #9b9b9b;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 12pt;
    transition: 0.1s;
}

#createoffering {
    display: none;
    padding: 15px 20px;
}

#createseeking {
    display: none;
    padding: 15px 20px;
}

.createposttemplate {
    border: 1px solid black;
    border-radius: 1em;
    background-color: #ececff;
    font-size: 18pt;
    font-family: "Roboto";
    margin: 0 auto;
    width: 11em;
    padding: 0em 1em;
}

.postcontentname {
    text-align: justify;
    margin: 0;
    margin-bottom: .2em;
    line-height: 1.5em;
}

.postcontenttext {
    text-align: justify;
    margin: 0;
    margin-top: .2em;
    margin-bottom: .2em;
    line-height: 1.5em;
}

#createpostoccupationseeking {
    font-size: 18pt;
    font-family: "Roboto";
    width: 11em;
}

#createpostoccupationoffering {
    font-size: 18pt;
    font-family: "Roboto";
    width: 11em;
}

#createpostdescriptionseeking {
    font-size: 18pt;
    font-family: "Roboto";
    resize: none;
    width: 11em;
    height: 5em;
}

#createpostdescriptionoffering {
    font-size: 18pt;
    font-family: "Roboto";
    resize: none;
    width: 11em;
    height: 5em;
}

#createpostduedate {
    font-size: 16pt;
    width: 9.75em;
}

#createpostcategories {
    height: 2em;
    outline: none;
    font-size: 12pt;
    text-align: center;
}

#createpostcategories2 {
    height: 2em;
    outline: none;
    font-size: 12pt;
    text-align: center;
}

#createpostoptions {
    text-align: center;
    line-height: 40px;
}

.createpostcategories:active:hover {
    outline: none;
}

#createpostbutton,
#createpostbutton2 {
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-family: "Roboto";
    cursor: pointer;
    height: 3em;
    margin-top: 15px;
}

#categoryDiv {
    text-align: center;
}

.offeringposttemplate {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-radius: 1em;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 14pt;
    font-family: "Roboto";
    margin: .7em;
    width: 10em;
    padding: .5em .5em;
    line-height: 1.3em;
}

.offeringposttemplate:hover {
    box-shadow: 2px 2px 10px rgb(0, 69, 129);
}

.seekingposttemplate {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-radius: 1em;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 14pt;
    font-family: "Roboto";
    margin: .7em;
    width: 10em;
    padding: .5em .5em;
    line-height: 1.3em;
}

.seekingposttemplate:hover {
    box-shadow: 2px 2px 10px #FF6600;
}

.myposttemplate {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #ffddfe;
    font-size: 14pt;
    font-family: "Roboto";
    margin: .7em;
    width: 9em;
    padding: 1em 1em;
    line-height: 1.5em;
}

div.nameandoccupation{
    display: inline-block;
    width: 120px;
    overflow: hidden;
}

.usersnamefield {
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}

.userinputtedoccupation{
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 20px;
    white-space: nowrap;
}

div.offeringuserratingbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    margin-top: -0.5em;
    margin-right: -0.5em;
    color: white;
    background-color: #004181;
    border-radius: 0px 1em 0px 1em;
    vertical-align: center;
    text-align: center;
    width: 75px;
    height: 75px;
}

div.seekinguserratingbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    margin-top: -0.5em;
    margin-right: -0.5em;
    color: white;
    background-color: #ff6600;
    border-radius: 0px 1em 0px 1em;
    vertical-align: center;
    text-align: center;
    width: 75px;
    height: 75px;
}

/*Offering Posts*/

.offeringrating{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.offeringnumofrating{
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px;
}

.userinputtedfield {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 100%;
}


.offeringpostlabel{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

/*Seeking Posts*/

.seekingrating{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.seekingnumofrating{
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px;
}

.seekingpostlabel{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.postcontrols{
    margin-top: 15px;
    text-align: center;
}

.postoptionsbutton{
    float: left;
    margin-left: 15px;
    height: 15px;
    cursor: pointer;
}

.expandpostbutton{
    width: 25px;
    cursor: pointer;
    margin-bottom: 3px;
}

.pinpostbutton{
    float: right;
    margin-right: 15px;
    height: 15px;
    cursor: pointer;
}

#contactbutton {
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    font-family: "Roboto";
    cursor: pointer;
    min-height: 42px;
    max-width: 160px;
}

.loader {
    border: 4px solid white;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}