html,
body {
    margin: 0px;
    background-image: url(../images/splashlogin/tucson01.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center; 
}

#overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
}

#indexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/splashlogin/glass.png);
    background-size: cover;
    z-index: 3;
    width: 20em;
    height: 17em;
    padding-bottom: 5em;
    position: absolute;
    border-radius: 25px;
}

#formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/splashlogin/glass.png);
    background-size: cover;
    z-index: 3;
    width: 20em;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    border-radius: 25px;
    -webkit-transition: height 0.5s; /* Safari and iPhones */
    transition: height 0.5s;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55pt;
    color: #0080c0;
    text-shadow: 2px 2px 20px white;
    margin-bottom: 20px;
}

#trynowbutton {
    background-color: #0080c0;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto";
    cursor: pointer;
    display: block;
}

#trynowbutton:hover {
    background-color: #0080ff;
}

#loginheader {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55pt;
    color: #0080c0;
    text-shadow: 2px 2px 20px white;
    margin-bottom: .1em;
    margin-top: 0px
}

#registerheader {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55pt;
    color: #0080c0;
    text-shadow: 2px 2px 20px white;
    margin-bottom: 0px;
    margin-top: 0px;
}

#loginformblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerformblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
}

input[type=email],
input[type=text],
input[type=password] {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-bottom: solid rgba(255, 255, 255, 0.0) 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 10px 10px;
    margin-bottom: 12px;
    width: 210px;
    -webkit-transition: 0.2s; /* Safari and iPhones */
    transition: 0.2s;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-bottom-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid white;
}

.mainbuttons {
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto";
    cursor: pointer;
}

.mainbuttons:hover, .mainbuttons:focus {
    background-color: #0080ff;
}

.elsetext {
    color: white;
    text-decoration: none;
}

.orhyper {
    color: #0080c0;
    text-shadow: 2px 2px 15px white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16pt;
}

#error-message {
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
    max-height: 20px;
    max-width: 0px;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    border: 1px solid rgba(255, 51, 0, 0.6);
    border-radius: 5px;
    background-color: rgba(255, 51, 51, 0.6);
    padding: 10px;
    -webkit-transition: max-width 0.3s, visability 0.1s;
    transition: max-width 0.3s, visability 0.1s;
}

p.register_login {
    margin-top: 0px;
}